{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.Jcrop.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/image_cropping.css' %}" />

    <title>{% block title %}Instagram clone{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
        <div class="menu">
            <a href="{% url 'instaapp:home' %}"
                <span>Home </span>
            </a>
            <a href="{% url 'instaapp:upload' %}">
                <span>Upload </span>
            </a>
            <a href="{% url 'instaapp:profile' %}">
                <span>Profile </span>
            </a>
            <a href="{% url 'instaapp:profile' %}">
                <span> Hello {{ user.username }}</span>
            </a>
            <a href="{% url 'instaapp:logout' %}">
                <span>Logout </span>
            </a>
        </div>

        <div class="search">
            <form class="form-inline" method="GET" action="{% url 'instaapp:search' %}" role="form">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div id="imaginary_container">
                            <div class="input-group stylish-input-group">
                                <input type="text" name="search" class="form-control"  placeholder="Search by hashtag" >
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/image_cropping.js' %}"></script>
</body>
</html>