{% extends "base.html" %}
{% load cropping thumbnail %}
{% load extras %}

{% block content %}
    {% if image %}
        <br/>
        <h4>Photo's {{ image.user.username }}</h4>
        <div class="photo">
            <img src="{% cropped_thumbnail image "cropping" %}" width="350"/>
        </div>
        <div class="detailBox">
            <div class="titleBox">
                <label>Comment</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>
            <div class="commentBox">

            </div>
            <div class="actionBox">
                <ul class="commentList">
                    {% for comment in comments %}
                        <li>
                            <div class="username">
                                <strong>{{comment.user.username}}</strong>
                            </div>
                            <div class="commenterImage">
                            </div>
                            <div class="commentText">
                                <p class="">{%  auto_add_link_hashtag comment.text %}</p> <span
                                    class="date sub-text">on {{ comment.created_on }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <form class="form-inline" method="POST" role="form">{% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="comment" type="text" placeholder="Your comments"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}

