{% extends "base.html" %}
{% load cropping thumbnail %}

{% block title %}Instagram clone - home page{% endblock %}

{% block content %}
    <div class="following_list">
        <h4>Your are following</h4>
            {% for user_following in following_list %}
                <a href="{% url 'instaapp:user' %}{{ user_following.user.id }}"><span>{{ user_following.user.username }}</span></a>
            {% endfor %}
    </div>

    <div class="followed_list">
        <h4>Your are flollowed</h4>
            {% for user_followed in flollowed_list %}
                <a href="{% url 'instaapp:user' %}{{ user_followed.user.id }}"><span>{{ user_followed.user.username }}</span></a>
            {% endfor %}
    </div>

    {% for photo in photos %}
        <div href="" class="photo">
            <a href="{% url 'instaapp:upload' %}{{ photo.id }}">
                <img src="{% cropped_thumbnail photo "cropping" %}" width="350" height=""/>
            </a>
        </div>

    {% endfor %}
{% endblock %}
