{% extends "base.html" %}

{% block content %}
    <!-- Begin page content -->
    <div class="container header-wrapper">
        <div class="page-header">
            <h1>All notifications</h1>
        </div>
        <ul class="list-group">
            {% for notification in notifications %}
                <li class="list-group-item"><!-- list-group-item-info -->
                    {% if notification.unread %}
                        <span class="badge alert-danger">New</span>
                    {% endif %}
                    <a href="
                            {% url 'instaapp:photo' %}{{ notification.target.id }}"><strong>{{ notification.verb }} </strong>
                    </a> {{ notification.timesince }} ago

                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}